.tagsContainer {
    display: flex;
    width: 70%;
    .tags {
        color: white;
        background-color: #FF6060;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        margin-right: 6px;
        min-width: fit-content;
        width: 15vw;
        border-radius: 10px;
    }
}