.banner2container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    overflow: hidden;
    border-radius: 25px;
    fill-opacity: 0.5;
    background-color: grey;
    .banner2img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}