header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 26px;
    }
    img {
        @media only screen and (max-width: 768px) {
            width: 145px;
        }
    }
    nav {
        :nth-child(1) {
            margin-right: 100px;
            @media only screen and (max-width: 768px) {
                margin-right: 20px;
            }
        }
        * {
            color: #FF6060;
            text-decoration: none;
            @media only screen and (max-width: 768px) {
                text-transform: uppercase;
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}