header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    nav {
        :nth-child(1) {
            margin-right: 100px;
        }
        * {
            color: #FF6060;
            text-decoration: none;
        }
    }
}