$mainColor: #FF6060; 

@mixin headStyle {
    padding: 10px;
    width: 100%;
    background-color: $mainColor;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    @media only screen and (max-width: 768px) {
        padding: 0px;
    }
}

@mixin headTxtStyle {
    font-size: 24px;
    font-weight: 500;
    color: white;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
        font-size: 13px;
        line-height: 18px;
        margin-left: 10px;
    }
}

@mixin contentStyle {
    font-size: 18px;
    font-weight: 300 !important;
    color: $mainColor;
    margin-top: -5px;
    background-color: #F6F6F6;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    height: 0px;
    overflow: hidden;
}

@mixin arrowStyles {
    transform: rotate(90deg);
    width: 32px;
    height: 32px;
    @media only screen and (max-width: 768px) {
        margin-right: 10px;
    }
}

@keyframes showBox {
    from {
        height: 0;
        padding: 0 10px 0 10px;
    }
    to {
        height: fit-content;
        padding: 15px 10px 10px 10px;
    }
}

@keyframes arrowAnim {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-90deg);
    }
}






.boxContainer {
    margin-bottom: 30px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 24px;
    }
    .headContainer{
        @include headStyle();
        p{
            @include headTxtStyle();
        }
        img{
            @include arrowStyles();
        }
        .arrowAnim {
            animation: arrowAnim 0.2s ease forwards;
        }
    }
    .contentContainer{
        @include contentStyle();
    }
    .contentAnim {
        animation: showBox 0.2s ease forwards;
    }
}