footer {
    padding: 60px 0 40px 0;
    background-color: black;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
        padding: 60px 0 60px 0;
        margin-top: 10px;
    }
    p {
        color: white;
        @media only screen and (max-width: 768px) {
            width: 40vw;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }
    }
    img {
        width: 122px;
        margin-bottom: 40px;
        @media only screen and (max-width: 768px) {
            margin-bottom: 16px;
        }
    }
}